body {
  padding: 0px;
  font: 14px "Noto Sans CJK", "Noto Sans", "Meiryo", sans-serif;
}

.title {
  font-weight: bold;
  float: left;
  padding: 5px;
  color: black;
}

a {
  color: #00B7FF;
}

#header {
  height: 30px;
}

#directories {
  float: left;
  padding: 5px;

}

.control {
  float: left;
}

.button {
  padding: 5px 20px 5px 20px;
  margin-left: 5px;
}

#list {
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
}

.item {
  float: left;
  padding: 5px;
}

.list-caption {
  text-align: center;
}

.list-img {
  width: 200px;
}

@media screen and (max-width:480px){
  /*画面幅が480pxまでの時*/
  .list-img {
    width: 100%;
  }
  .item {
    float: none;
  }

  /* bug fix */
  .lum-lightbox-inner img {
    max-width: 100%;
    max-height: 100%;
  }
}
