extends layout

block content
  #header
    .title
      a(href='/') PE /
  #main
    div= error
    div= info
    ul
      li
        a(href="/sensor") Sensor
      li
        a(href="/photos") Photos
        