extends layout

block content
  #header
    .title
      a(href='/') PE /
      a(href='#') Photos
      span.title-space
      a(href='/sensor') Sensor
      span.title-space

    .control-bar
      .control
        span host:
        select#hosts
      .control
        input.button#new-date(type="button" value="new")
        input.button#old-date(type="button" value="old")
        select#dates
      .control#command_button

  #list

  script(src="/javascripts/photos.js" type="module")
