extends layout

block content
  #header
    .title
      a(href='/') PE /
      a(href='#') Sensor
      span.title-space
      a(href="/photos") Photos
      span.title-space

    .control-bar
      .control
        span host:
        select#hosts
      .control
        input#new.button(type="button" value="new")
        input#old.button(type="button" value="old")
        select#pages
          option(value="1") 1
        span /
        span#allpages 1
        select#cols
      .control#command_button

  #main
    .scroll-table
      table#maintable
        thead
          tr#maintable-head
        tbody#maintable-data

  script(src="/javascripts/sensor.js" type="module")
  