[submodule "notifyd"]
	path = notifyd
	url = git@github.com:noyuno/notifyd.git
[submodule "animed"]
	path = animed
	url = git@github.com:noyuno/animed.git
[submodule "squid"]
	path = squid
	url = git@github.com:noyuno/squid.git
[submodule "discordbot"]
	path = discordbot
	url = git@github.com:noyuno/discordbot.git
[submodule "backupd"]
	path = backupd
	url = git@github.com:noyuno/backupd.git
[submodule "postgresd"]
	path = postgresd
	url = git@github.com:noyuno/postgresd.git
