[submodule "notifyd"]
	path = notifyd
	url = https://github.com/noyuno/notifyd.git
[submodule "animed"]
	path = animed
	url = https://github.com/noyuno/animed.git
[submodule "squid"]
	path = squid
	url = https://github.com/noyuno/squid.git
[submodule "discordbot"]
	path = discordbot
	url = https://github.com/noyuno/discordbot.git
[submodule "backupd"]
	path = backupd
	url = https://github.com/noyuno/backupd.git
[submodule "postgresd"]
	path = postgresd
	url = https://github.com/noyuno/postgresd.git
[submodule "photod"]
	path = photod
	url = https://github.com/noyuno/photod.git
[submodule "rcloned"]
	path = rcloned
	url = https://github.com/noyuno/rcloned.git
